<!DOCTYPE html>
<html>
<head>
  <title>Dot Game</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
  
<body>
  <main id="dot-app">
    <section id="controls">
      <div id="score"></div>
      <button type="button" id="game-btn" class="start">Start</button>
      <div id="slider">
        <input id="speed" type="range" min="10" max="100" value="1" />
        <label for="speed" id="speed-label"></label>
      </div>
    </section>
    <section id="game"></section>
  </main>
  <script src="/index.js"></script>
</body>
  
</html>